.container {
  display: flex;
  gap: 20px;
}

.form-container,
.duties-container {
  flex: 1;
}

.form-field {
  margin-bottom: 10px;
}

input,
textarea {
  width: 100%;
  box-sizing: border-box;
}

.error {
  color: red;
  margin-bottom: 1em;
}
